.App{
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(173,207,178,1) 0%, rgba(197,235,210,1) 36%, rgba(0,212,255,1) 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: none;
  padding: 10px 20px;
  color: black;
}

.quote{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}